{
    "swagger": "2.0",
    "info": {
        "title": "AttractionsBox API",
        "description": "Move your app forward with the AttractionsBox API",
        "version": "1.0.0"
    },
    "host": "demo-api.attractionsbox.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/products/country/{countryID}/category/{categoryID}/list": {
            "get": {
                "summary": "Product list per country and category",
                "description": "This endpoint returns array of active attractions/transfers/tous with \nall the related relations, such as ticket types, inventory, variatios, using \nprovided {CountryID} and {CategoryID}. Optionally the language of responce may be \nspecified by using {lang} parameter \n",
                "parameters": [
                    {
                        "name": "countryID",
                        "in": "path",
                        "type": "integer",
                        "required": true,
                        "description": "Numeric ID of the country needed"
                    },
                    {
                        "name": "categoryID",
                        "in": "path",
                        "description": "Numeric ID of the category needed",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language optional two letters parameter. Example \"ru\", \"en\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order by \"title\",\"popularity\",\"price\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "How many products",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Attractions"
                ],
                "responses": {
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "type": "array",
                            "title": "Array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/product/id/{ID}/show": {
            "get": {
                "summary": "Get product by ID",
                "description": "",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "Latitude component of start location.",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language optional two letters parameter. Example \"ru\", \"en\".",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "tags": [
                    "Attractions"
                ],
                "responses": {
                    "200": {
                        "description": "An object of attraction product with included ticket types, inventory, description etc",
                        "schema": {
                            "type": "array",
                            "title": "Array",
                            "items": {
                                "$ref": "#/definitions/Attractiction"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "summary": "Log in",
                "description": "Log in endpoint to get the Bearer Token.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Username. Email usually..",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/NewToken"
                            }
                        }
                    },
                    "401": {
                        "description": "Login failed",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    }
                }
            }
        },
        "/country/with_attractions": {
            "get": {
                "summary": "Country list",
                "description": "Get all the countries to array. Only those having active attractions will be returned.",
                "tags": [
                    "Country"
                ],
                "responses": {
                    "200": {
                        "description": "List of countries that having products",
                        "schema": {
                            "type": "array",
                            "title": "data",
                            "items": {
                                "$ref": "#/definitions/Country"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/categories/list": {
            "get": {
                "summary": "Categories",
                "description": "Endpoint to get all the categories",
                "tags": [
                    "Category"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "type": "array",
                            "title": "data",
                            "items": {
                                "$ref": "#/definitions/Category"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/auth/refresh_token": {
            "get": {
                "summary": "Refresh Token",
                "description": "Endpoint to refresh current token.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "New token",
                        "schema": {
                            "$ref": "#/definitions/NewToken"
                        }
                    },
                    "401": {
                        "description": "Not authorized",
                        "schema": {
                            "$ref": "#/definitions/CookieError"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions": {
        "Product": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "id"
                },
                "description": {
                    "type": "string",
                    "description": "Description of product."
                },
                "title": {
                    "type": "string",
                    "description": "Display name of product."
                },
                "meta_description": {
                    "type": "string",
                    "description": "Meta description"
                },
                "image": {
                    "type": "string",
                    "description": "Image URL representing the product."
                }
            }
        },
        "Attractiction": {
            "type": "object",
            "properties": {
                "ID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ID of the product"
                },
                "country": {
                    "$ref": "#/definitions/Country"
                },
                "currency_code": {
                    "type": "string",
                    "description": "..."
                },
                "display_name": {
                    "type": "string",
                    "description": "Display name of product."
                },
                "estimate": {
                    "type": "string",
                    "description": "..."
                },
                "low_estimate": {
                    "type": "number",
                    "description": "Lower bound of the estimated price."
                },
                "high_estimate": {
                    "type": "number",
                    "description": "Upper bound of the estimated price."
                },
                "surge_multiplier": {
                    "type": "number",
                    "description": "..."
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "first_name": {
                    "type": "string",
                    "description": "First name of the Uber user."
                },
                "last_name": {
                    "type": "string",
                    "description": "Last name of the Uber user."
                },
                "email": {
                    "type": "string",
                    "description": "Email address of the Uber user"
                },
                "picture": {
                    "type": "string",
                    "description": "Image URL of the Uber user."
                },
                "promo_code": {
                    "type": "string",
                    "description": "Promo code of the Uber user."
                }
            }
        },
        "Category": {
            "type": "object",
            "properties": {
                "ID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ID."
                },
                "name": {
                    "type": "string",
                    "description": "Country name."
                },
                "i18nNames": {
                    "type": "object",
                    "description": "Object of translated names."
                }
            }
        },
        "Country": {
            "type": "object",
            "properties": {
                "ID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ID."
                },
                "name": {
                    "type": "string",
                    "description": "Country name."
                }
            }
        },
        "Activities": {
            "type": "object",
            "properties": {
                "offset": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Position in pagination."
                },
                "limit": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of items to retrieve (100 max)."
                },
                "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Total number of items available."
                },
                "history": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Country"
                    }
                }
            }
        },
        "NewToken": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "token": {
                    "type": "string"
                },
                "expire": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        },
        "CookieError": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}