{
    "swagger": "2.0",
    "info": {
        "title": "AttractionsBox API",
        "description": "Move your app forward with the AttractionsBox API",
        "version": "1.0.0"
    },
    "host": "demo-api.attractionsbox.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/products/country/{countryID}/category/{categoryID}/list": {
            "get": {
                "summary": "Product list per country and category",
                "description": "This endpoint returns array of active attractions/transfers/tous with \nall the related relations, such as ticket types, inventory, variatios, using \nprovided {CountryID} and {CategoryID}. Optionally the language of responce may be \nspecified by using {lang} parameter \n",
                "parameters": [
                    {
                        "name": "countryID",
                        "in": "path",
                        "type": "integer",
                        "required": true,
                        "description": "Numeric ID of the country needed"
                    },
                    {
                        "name": "categoryID",
                        "in": "path",
                        "description": "Numeric ID of the category needed",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language optional two letters parameter. Example \"ru\", \"en\".",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Attractions"
                ],
                "responses": {
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "type": "array",
                            "title": "Array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/product/id/{ID}/show": {
            "get": {
                "summary": "Get product by ID",
                "description": "",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "Latitude component of start location.",
                        "required": true,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language optional two letters parameter. Example \"ru\", \"en\".",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "tags": [
                    "Attractions"
                ],
                "responses": {
                    "200": {
                        "description": "An object of attraction product with included ticket types, inventory, description etc",
                        "schema": {
                            "type": "array",
                            "title": "Array",
                            "items": {
                                "$ref": "#/definitions/Attractiction"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "summary": "Log in",
                "description": "Log in endpoint to get the Bearer Token.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Latitude component of start location.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Longitude component of start location.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Estimates"
                ],
                "responses": {
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/country/with_attractions": {
            "get": {
                "summary": "Country list",
                "description": "Get all the countries to array. Only those having active attractions will be returned.",
                "tags": [
                    "Country"
                ],
                "responses": {
                    "200": {
                        "description": "Profile information for a user",
                        "schema": {
                            "$ref": "#/definitions/Country"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/categories/list": {
            "get": {
                "summary": "Categories",
                "description": "Endpoint to get all the categories",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "type": "string",
                        "description": "Language optional two letters parameter. Example \"ru\", \"en\"."
                    }
                ],
                "tags": [
                    "Category"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Activities"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/refresh_token": {
            "get": {
                "summary": "Refresh Token",
                "description": "Endpoint to refresh current token.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "description": "Authorization token"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Activities"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Product": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "id"
                },
                "description": {
                    "type": "string",
                    "description": "Description of product."
                },
                "title": {
                    "type": "string",
                    "description": "Display name of product."
                },
                "meta_description": {
                    "type": "string",
                    "description": "Meta description"
                },
                "image": {
                    "type": "string",
                    "description": "Image URL representing the product."
                }
            }
        },
        "Attractiction": {
            "type": "object",
            "properties": {
                "product_id": {
                    "type": "string",
                    "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles"
                },
                "currency_code": {
                    "type": "string",
                    "description": "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code."
                },
                "display_name": {
                    "type": "string",
                    "description": "Display name of product."
                },
                "estimate": {
                    "type": "string",
                    "description": "Formatted string of estimate in local currency of the start location. Estimate could be a range, a single number (flat rate) or \"Metered\" for TAXI."
                },
                "low_estimate": {
                    "type": "number",
                    "description": "Lower bound of the estimated price."
                },
                "high_estimate": {
                    "type": "number",
                    "description": "Upper bound of the estimated price."
                },
                "surge_multiplier": {
                    "type": "number",
                    "description": "Expected surge multiplier. Surge is active if surge_multiplier is greater than 1. Price estimate already factors in the surge multiplier."
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "first_name": {
                    "type": "string",
                    "description": "First name of the Uber user."
                },
                "last_name": {
                    "type": "string",
                    "description": "Last name of the Uber user."
                },
                "email": {
                    "type": "string",
                    "description": "Email address of the Uber user"
                },
                "picture": {
                    "type": "string",
                    "description": "Image URL of the Uber user."
                },
                "promo_code": {
                    "type": "string",
                    "description": "Promo code of the Uber user."
                }
            }
        },
        "Country": {
            "type": "object",
            "properties": {
                "uuid": {
                    "type": "string",
                    "description": "Unique identifier for the activity"
                }
            }
        },
        "Activities": {
            "type": "object",
            "properties": {
                "offset": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Position in pagination."
                },
                "limit": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of items to retrieve (100 max)."
                },
                "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Total number of items available."
                },
                "history": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Country"
                    }
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}